body {
    background-color: honeydew;
}

h1 {
    font-size: 40px;
    color:darksalmon;
    font-style: italic;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 3px; 

}

h2 {
    font-size: 30px;
    color:darksalmon;
    font-style: italic;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 3px; 

}

p {
    font-family: 'Hind Madurai', sans-serif;
    font-size: 20px;
    color:slategray;
    line-height: 20px;
    letter-spacing: 1px; 
    
}

.button-link {
    border-style: solid;
    border-color:black;
    background-color:gainsboro;
    border-width: 2px;
    padding: 4px;
    border-radius: 10px;
    display: block;
    width: 150px;
    text-align: center;
    margin-top: 20px;

}   

.button-alert{
    border-style: solid;
    border-color:black;
    background-color:orange
    border-width: 2px;
    padding: 4px;
    border-radius: 10px;
    display: block;
    width: 150px;
    text-align: center;
    margin-top: 20px;
}
.top-banner {
    height: 240px;
    text-align: center;
    padding-top: 110px;
    background-color: cornsilk
}

.main-content {
    width: 800px;
    margin: 0 auto;
    padding: 0 10px;


}

footer {

}